{% extends 'comics/base.html' %}


{% block content %}
    <div class="post">
            <div class="date">
                {{ comic.nombre }}
                {{ comic.fecha_publicacion }}
                {{ comic.editorial }}
            </div>



    </div>

    <ul>
                         {% for c in comic.autor.all %}
                         <li>
                           {{ c.nombre }}
                         </li>
{% endfor %}
<a class="btn btn-default" href="{% url 'editar_comic' pk=comic.pk %}"><span class="glyphicon glyphicon-pencil">editar</span></a>
<a class="btn btn-default" href="{% url 'eliminar_comic' pk=comic.pk %}"><span class="glyphicon glyphicon-trash">eliminar</span></a>
{% endblock %}
